<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<style type="text/css">
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
tr:nth-child(even) {background-color: #f2f2f2;}
table {
  width: 100%;
}

th {
  height: 50px;
}
</style>
<body>

<h1 style="">{{account}}'s Meaningful Posts 😮</h1>

<table>
<thead><tr><th>Date</th><th>Meaningful Posts</th></tr></thead>
<tbody>
{% for item in table %}
<TR>
   <TD class="c2">{{item.account}}</TD>
   <TD class="c3">{{item.symbol}}</TD>
</TR>
{% endfor %}
</tbody>
</table>


</body>
</html>